
<h1>{{ category.name }}</h1>

<ul ng-if="hasSubcategories" class="category-list row">
    <li class="col-sm-3 col-xs-6" ng-repeat="subcategory in category.subcategories">
        <a href="/category/{{ subcategory.slug }}" ng-style="{'background-image':'url('+subcategory.thumbUrl+')'}">
            <span>{{ subcategory.name }}</span>
        </a>
    </li>
</ul>

<ul ng-if="hasStickers"class="sticker-list row">

    <li class="col-sm-3" ng-repeat="sticker in category.stickers">
        <a href="/sticker/{{ sticker.slug }}">
            <span class="sticker" img="{{ sticker.design.imageUrl }}"></span>
            <br/>{{ sticker.name }}
        </a>
    </li>

</ul>

<div ng-if="category && !hasSubcategories && !hasStickers" class="container">
    <div class="alert alert-danger">
        <p><i class="fa fa-frown-o"></i> There's nothing in this category yet.</p>
    </div>
</div>
