<div class="content">
    <div class="splash sticker-splash"
         ng-style="{ 'background-image': sticker.bgUrl ? 'url(' + sticker.bgUrl + ')' : ''}">
        <div class="container">
            <div class="row">

                <div class="col-lg-7 text-shadow">

                    <span class="sticker" img="{{ sticker.design.imageUrl }}"></span>

                    <div class="titlecrumbs sticker-title">
                        <h3><a href="/category/{{ sticker.category.slug }}"><i class="fa fa-folder"></i> {{
                            sticker.category.name }} Category</a></h3>

                        <h1>{{ sticker.name }}</h1>
                    </div>

                    <p class="sticker-desc">{{ sticker.description }}</p>

                    <ul class="sticker-info">
                        <li ng-if="sticker.creator">
                            <i class="fa fa-user"></i> Sticker designed by
                            <a href="/user/{{ sticker.creator.url }}">{{ sticker.creator.username }}</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-5">

                    <ul class="task-list">
                        <li class="header">
                            <h3>Complete {{ (sticker.requiredTasks ? sticker.requiredTasks : 'all') }} tasks
                                to earn the sticker:</h3>
                        </li>

                        <li ng-repeat="task in sticker.tasks">

                            <a href="/task/{{ task.slug }}">
                                <i class="fa fa-circle"></i>
                                {{ task.name }}
                            </a>
                        </li>

                        <li class="header" ng-hide="sticker.isOnToDoList">
                            <h3>Want this sticker?</h3>
                        </li>
                        <li ng-hide="sticker.isOnToDoList">
                            <span>
                                <a class="btn btn-primary btn-block btn-labeled" ng-click="addToDo()">
                                    <span class="btn-label"><i class="fa fa-plus-circle"></i></span>
                                    Add To To-Do List
                                </a>
                            </span>
                        </li>

                        <li class="header ng-hide" ng-show="sticker.isOnToDoList">
                            <h3>Your progress:</h3>
                        </li>

                        <li class="ng-hide" ng-show="sticker.isOnToDoList">
                            <span>
                                <span class="progress">
                                  <span class="progress-bar progress-bar-success"
                                       style="width: 60%;">
                                      6 completed
                                  </span>

                                    <span class="progress-bar progress-bar-warning"
                                       style="width: 20%;">
                                      2 pending
                                  </span>

                                </span>
                            </span>
                        </li>

                        <li class="ng-hide" ng-show="sticker.isOnToDoList">
                            <span>
                                <span class="label label-success">6</span> Tasks Completed
                            </span>
                        </li>

                        <li class="ng-hide" ng-show="sticker.isOnToDoList">
                            <span>
                                <span class="label label-warning">2</span> Tasks Pending Approval
                            </span>
                        </li>

                        <li class="ng-hide" ng-show="sticker.isOnToDoList">
                            <span>
                                <span class="label label-danger">4</span> More Tasks Needed
                            </span>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-lg-7">

                <h2><i class="fa fa-trophy"></i> Who's Got It</h2>

                <ul ng-if="hasEarners">
                    <li><a href="/user/{{ user.username }}">{{ user.username }}</a></li>
                </ul>

                <p ng-if="!hasEarners" class="text-center"><i class="fa fa-frown-o"></i> Nobody yet!</p>

                <h2><i class="fa fa-play"></i> Who's Working On It</h2>

                <ul ng-if="hasEarners">
                    <li><a href="/user/{{ user.username }}">{{ user.username }}</a></li>
                </ul>

                <p ng-if="!hasEarners" class="text-center"><i class="fa fa-frown-o"></i> Nobody yet!</p>

            </div>

            <div class="col-lg-5">

                <h2><i class="fa fa-circle"></i> More {{ sticker.category.name }} Stickers</h2>

                <ul class="sticker-list small-sticker-list row">

                    <li class="col-xs-4 col-sm-3 col-lg-4"
                        ng-repeat="catSticker in sticker.category.stickers"
                        ng-if="catsticker.id != sticker.id">
                        <a href="/sticker/{{ catSticker.slug }}">
                            <span class="sticker" img="{{ catSticker.design.imageUrl }}"></span>
                            <br/>{{ catSticker.name }}
                        </a>
                    </li>
                </ul>

            </div>

        </div>
    </div>
</div>
