<div class="content">
    <div class="splash sticker-splash">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 text-shadow">

                    <st-sticker sticker="sticker"></st-sticker>

                    <div class="titlecrumbs sticker-title">
                        <h3><a href="/category/{{ sticker.category.slug }}"><i class="fa fa-folder"></i> {{
                            sticker.category.name }} Category</a></h3>

                        <h1>{{ sticker.name }}</h1>
                    </div>

                    <div class="alert alert-success clear text-center" ng-if="sticker.hasCompleted">
                        <p><i class="fa fa-trophy"></i> Congratulations, you've earnt this sticker!</p>

                        <p><a class="btn btn-success" href="/user/{{currentUser.username}}/stickers">See it in your
                            Sticker Book</a></p>
                    </div>

                    <div class="padded-box">
                        <p class="sticker-desc" ng-bind-html="sticker.description | markdown"></p>

                        <h4 ng-if="sticker.time || sticker.cost || sticker.rating" class="white">Average Task
                            Ratings</h4>
                        <ul class="task-ratings white">
                            <li ng-if="sticker.time"><strong>Time Needed</strong> <i class="fa fa-fw fa-clock-o"
                                                                                     ng-repeat="n in [] | range:sticker.time"></i>
                                <small>{{ times[(sticker.time - 1)] }}</small>
                            </li>
                            <li ng-if="sticker.cost"><strong>Cost</strong> <i class="fa fa-fw fa-usd"
                                                                              ng-repeat="n in [] | range:sticker.cost"></i>
                                <small>{{ costs[(sticker.cost - 1)] }}</small>
                            </li>
                            <li ng-if="sticker.rating"><strong>Rating</strong> <i class="fa fa-fw fa-star"
                                                                                  ng-repeat="n in [] | range:sticker.rating"></i>
                                <small>{{ ratings[(sticker.rating - 1)] }}</small>
                            </li>
                        </ul>
                    </div>

                    <ul class="sticker-info">
                        <li ng-if="sticker.creator">
                            <i class="fa fa-user"></i> Sticker designed by
                            <a href="/user/{{ sticker.creator.url }}">{{ sticker.creator.username }}</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-6">

                    <ul class="task-list">

                        <li class="header">
                            <h3>
                                Complete {{ (sticker.requiredTasks ? sticker.requiredTasks : 'all') }}
                                of these tasks to earn the sticker:</h3>
                        </li>

                        <li class="ng-hide" ng-show="sticker.isOnToDoList && sticker.tasks.length > 0">
                            <span>
                                <st-progress progress="progress"></st-progress>
                            </span>
                        </li>

                        <li class="ng-hide text-center" ng-show=" sticker.tasks.length < 1">
                            <span>No tasks here yet.</span>
                        </li>

                        <li ng-repeat="task in sticker.tasks" class="task" ng-class="{
                            'completed': task.hasCompleted,
                            }">
                            <a href="/task/{{ task.slug }}">

                                <span ng-if="progress && progress.pendingIds.indexOf(task.id) !== -1"
                                      class="label label-warning">Submitted</span>
                                <span ng-if="progress && progress.rejectedIds.indexOf(task.id) !== -1"
                                      class="label label-danger">Rejected</span>
                                <span ng-if="task.hasCompleted" class="label label-success">Completed</span>

                                <i class="fa"
                                   ng-class="{'fa-circle': !task.hasCompleted, 'fa-check-circle': task.hasCompleted}"></i>{{
                                task.name }}
                            </a>
                        </li>

                        <li class="text-right">
                            <span>
                                <a
                                        class="btn btn-labeled no-block"
                                        ng-class="{
                                            'btn-block': sticker.tasks.length < 1,
                                        }"
                                        ng-click="addTask($event)" href="#">
                                    <span class="btn-label"><i class="fa fa-plus-circle"></i></span>
                                    Add {{ (sticker.tasks.length < 1 ? 'A' : 'Another') }} Task
                                </a>
                            </span>
                        </li>


                        <li class="header" ng-hide="sticker.isOnToDoList">
                            <h3>Want this sticker?</h3>
                        </li>
                        <li ng-hide="sticker.isOnToDoList">
                            <span>
                                <a class="btn btn-primary btn-block btn-labeled todo-btn" ng-click="toggleToDo()">
                                    <span class="btn-label"><i class="fa fa-plus-circle"></i></span>
                                    Add To Your To Do List
                                </a>
                            </span>
                        </li>

                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>

                </div>

            </div>
        </div>
    </div>

    <div class="white-bg">
        <div class="container">
            <div class="row">

                <div class="col-lg-6">

                    <h2 ng-if="earners.users.length > 0"><i class="fa fa-trophy"></i> Who's Got It</h2>

                    <st-users ng-if="earners.users.length > 0" data="earners" like="likeEarner"></st-users>

                    <div style="margin-bottom:30px;"></div>

                    <a class="btn btn-labeled pull-right no-block todo-btn"
                           href="#"
                           ng-click="toggleToDo()"
                           ng-class="{'btn-success': sticker.isOnToDoList, 'btn-primary': !sticker.isOnToDoList}"
                           >
                            <span class="btn-label"><i class="fa fa-fw" ng-class="{'fa-check': sticker.isOnToDoList, 'fa-plus-circle': !sticker.isOnToDoList}"></i></span>
                            To Do
                        </a>

                    <h2 style="margin-top:0;"><i class="fa fa-users"></i> Working On It</h2>

                    <st-users data="doers" like="likeDoer"></st-users>

                    <div ng-if="doers.users.length < 1" class="text-center text-muted">
                        Nobody has this on their to do list yet.
                    </div>

                </div>

                <div class="col-lg-6">

                    <h2><i class="fa fa-folder-open"></i> Similar Stickers</h2>

                    <ul class="small-sticker-list">
                        <li
                                ng-repeat="catSticker in sticker.category.stickers"
                                ng-if="catSticker.id != sticker.id">
                            <a href="/sticker/{{ catSticker.slug }}">
                                <st-sticker sticker="catSticker"></st-sticker>
                                <br/>{{ catSticker.name }}
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>

</div>
