.view-settings {

    .user-current-image {
        float:left;
    }

    .dropzone {
        float:left;

        .dz-preview {
            float:left;
        }

        .dropzone-btn {
            margin-left:15px;
            margin-top:32px;
        }
    }

}
