/*.task-page {
    .content-col,
    .posts-col {
        .transition-all();
    }
}*/

@media (max-width: @screen-sm-max) {
    .task-page {
        padding-bottom: 0 !important;
    }
}

.task-title,
.post-title {

    float: left;

    .sticker-name {
        margin-top: 0;
        // Indent for the sticker
        padding-left: 45px;

        .sticker {
            position: absolute;
            top: -7px;
            left: -3px;
        }
    }

    .task-name {
        &:before {
            left: 16px;
        }
    }
}

@media (max-width: @screen-xs-max) {

    .task-title,
    .post-title {
        float: none;

        .sticker-name {
            margin-top: -12px;
            padding: 0;

            .sticker {
                position: relative;
                left: 0;
                top: 12px;
            }
        }

        .task-name {
            &:before {
                left: 0;
                right: 0;
            }
        }
    }
}

.posts-col h2 {
    display: none;
}

.post-page {

    .posts-col h2 {
        display: block;
    }

    #task-btns {
        display: none;
    }
}

.add-comment-btn {
    margin-bottom: 15px;
}


@media (min-width: @screen-md-min) {
    .add-comment-btn {
        display: inline-block;
        float: right;
        width: auto;
        z-index:2;
        top:-1px;
        margin:15px 0 0;
    }
}

.task-ratings {

    strong {
        width: 100px;
        display: inline-block;
    }

    i {
        color:@yellow;
    }
}



.task-doers {
    h2 {
        margin-top:0;
    }
}


// Hide "Post" word in tabs on post page
.post-page {
    .post-order-tabs strong {
        display: none !important;
    }
}

// Hide post list on mobile
@media (max-width: @screen-sm-max) {

    .task-doers h2 {
        text-align:left;
        margin-top:4px;
    }

    .posts-container {
        margin-top: 15px;
    }

    .post-page .posts-col {
        margin-top: 0px;
        padding-top: 15px;
    }

    /*.post-page .posts-container {
        display: none;
    }*/
}
