.task-page {

    padding-bottom: 0 !important;

    .content-col,
    .posts-col {
        .transition-all();
    }

}

.task-title,
.post-title {

    float: left;

    .sticker-name {
        margin-top: 0;
        // Indent for the sticker
        padding-left: 45px;

        .sticker-sm {
            position: absolute;
            top: -7px;
            left: -3px;
        }
    }

    .task-name {
        &:before {
            left: 16px;
        }
    }
}

@media (max-width: @screen-xs-max) {

    .task-title,
    .post-title {
        float: none;

        .sticker-name {
            margin-top: -14px;
            padding: 0;

            .sticker-sm {
                position: relative;
                left: 0;
                top: 14px;
            }
        }

        .task-name {
            &:before {
                left: 0;
                right: 0;
            }
        }
    }
}

.post-order-tabs {
    margin-top: -12px;
}

.posts-col h2 {
    display: none;
}

.post-page {

    .posts-col h2 {
        display: block;
    }

    .post-order-tabs {
        margin-top: 0;
    }

    #task-btns {
        display: none;
    }
}

#task-btns {
    clear: both;
    margin-bottom: 15px;

    .col-xs-6:first-child {
        padding-right: 7px;
    }

    .col-xs-6:last-child {
        padding-left: 7px;
    }

    .btn {
        margin-bottom: 0;
    }
}

.submission-help {
    font-size: 12px;
}

.add-comment-btn {
    margin-bottom: 15px;
}


@media (min-width: @screen-md-min) {
    #task-btns {
        clear: none;
        float: right;

        .row > div {
            width: auto;
            padding: 0 0 0 15px;
        }
    }

    .add-comment-btn {
        display: inline-block;
        float: right;
        width: auto;
        z-index:2;
        top:-1px;
        margin:0;
    }
}

#task-details {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin-bottom: 5px;
    }

    strong {
        margin-right: 10px;
    }
}

// Hide "Post" word in tabs on post page
.post-page {
    .post-order-tabs strong {
        display: none !important;
    }
}

// Hide post list on mobile
@media (max-width: @screen-sm-max) {
    .posts-container {
        margin-top: 15px;
    }

    .post-page .posts-col {
        margin-top: 0px;
        padding-top: 15px;
    }

    /*.post-page .posts-container {
        display: none;
    }*/
}
