<div class="comment" ng-class="{'liked': !!comment.liked, 'like-clicked': !!comment.likeClicked}" data-commentid="{{comment.id}}">
    <div class="inner">
        <a class="like-btn" ng-click="likeComment($event, comment)" href="#">
            <span><i class="fa fa-heart-o"></i> {{ comment.likeCount }}</span>
        </a>

        <div ng-bind-html="comment.comment | markdown"></div>
    </div>

    <span class="author">
        <a href="/user/{{ comment.user.username }}">
            <img ng-if="comment.user.image" ng-src="{{comment.user.imageThumbUrl}}" class="user-image" />
            <i ng-if="!comment.user.image" class="fa fa-user"></i> {{ comment.user.username }}
        </a>

        <!-- TODO: Permalink -->
        <a href="#"><i class="fa fa-clock-o"></i> <span am-time-ago="comment.createdAt"></span></a>
    </span>

    <span class="actions">

        <!--{{ comment.replies.length }} loaded / {{ comment.replyCount }} replies-->

        <a class="btn btn-sm btn-danger icn-btn" ng-if="$root.currentUser && $root.currentUser.id === comment.userId" ng-click="deleteComment($event, index, comment)" href="#"><i class="fa fa-trash"></i></a>

        <span ng-switch on="(comment.replyCount > 0 && !comment.replies) || comment.replies.length < comment.replyCount">

            <a class="btn btn-sm btn-primary" ng-switch-when="true" href="#" ng-click="loadCommentReplies($event, comment)">
                <i class="fa fa-comments"></i> Load {{ comment.replyCount - (comment.replies ? comment.replies.length : 0) }} more replies
            </a>

            <a class="btn btn-sm" ng-switch-default href="#" ng-click="showCommentForm($event, comment)"><i class="fa fa-commenting"></i> Reply</a>

        </span>

    </span>

    <st-comments class="comments replies comment-replies-{{comment.depth}}" comments="comment.replies" show-comment-form="showCommentForm"></st-comments>

</div>
