<footer>
    <div class="container-fluid">
        <div class="pull-left">
            &copy; Stickable.io
        </div>
        <div class="pull-right">
            <a href="https://api.stickable.io/docs/" target="_blank"><i class="fa fa-code-fork"></i> API</a>
            <a href="https://github.com/antriver/stickable-frontend"><i class="fa fa-github"></i> GitHub</a>
            <a href="#"><i class="fa fa-book"></i> Terms of Use</a>
            <a href="#"><i class="fa fa-lock"></i> Privacy Policy</a>
            <a href="mailto:help@stickable.io"><i class="fa fa-envelope-o"></i> Contact Us</a>
        </div>
    </div>
</footer>
