<header class="navbar" id="top-bar">
    <div class="container-fluid">

        <div class="navbar-header" ng-class="{'has-title':headerTitle}">

            <a href="#" ng-click="back()" class="navbar-back"><i class="fa fa-chevron-left"></i></a>

            <button type="button" class="navbar-toggle">
                <span class="navbar-toggle-icon">
                    <span></span>
                </span>
            </button>

            <a ui-sref="home" class="navbar-brand"><img src="/assets/img/stickable.svg" alt="Stickable" /></a>

            <h1>{{ headerTitle }}</h1>
        </div>

        <ul ng-if="currentUser" class="nav navbar-nav navbar-right notification-nav" ng-class="{'has-notification': notifications.length > 0}">
            <li>
                <a ng-click="toggleNotifications($event)" href="#">
                    <span ng-show="notifications.length > 0" class="notification">{{ notifications.length }}</span>
                    <i ng-show="notifications.length < 1" class="fa fa-envelope fa-fw"></i>
                    <b class="caret visible-lg-inline-block"></b>
                </a>
            </li>
        </ul>

        <st-notifications
                class="header-notifications"
                ng-class="{'notifications-preview': !notificationsOpen && notificationsPreview}"
                ng-if="currentUser && (notificationsOpen || notificationsPreview)"
                notifications="notifications"
                toggle="toggleNotifications"
                ></st-notifications>

        <nav role="navigation" id="top-bar-nav">

            <ng-include src="'views/partials/nav.html'"></ng-include>

            <form class="navbar-form navbar-right visible-lg" ng-submit="login()" ng-if="currentUser === false">

                <div class="form-group">
                    <input id="header-username"
                           type="text"
                           class="form-control input-sm"
                           name="username"
                           placeholder="Username"
                           ng-model="loginFormData.username"/>
                </div>
                <div class="form-group">
                    <input id="header-password"
                           type="password"
                           class="form-control input-sm"
                           name="password"
                           placeholder="Password"
                           ng-model="loginFormData.password"/>
                </div>
                <button id="header-login-btn" type="submit" class="btn btn-labeled btn-primary" ng-class="{'btn-loading': loginFormData.loading}">
                    <i class="fa fa-key fa-fw"></i>
                    Login
                </button>
                <a class="btn" href="/signup"><i class="fa fa-user fa-fw"></i> Signup</a>
            </form>

        </nav>


    </div>
</header>
