<ul class="posts media-list to-edge">

    <li class="post media"
        ng-repeat="thisPost in posts.posts"
        ng-class="{'with-task': !!showPostTasks, 'liked': !!thisPost.liked, 'like-clicked': !!thisPost.likeClicked}"
            ng-if="!post || post.id != thisPost.id">

        <span class="media-left media-middle" ng-if="thisPost.image">
            <a href="/task/{{ (thisPost.task ? thisPost.task.slug : (task ? task.slug : ''))}}/{{ thisPost.slug }}"
               ng-click="goToPost($event, thisPost)">
                <img class="media-object" ng-src="{{ thisPost.image.thumbUrl }}"/>
            </a>
        </span>
        <span class="media-body media-middle">

            <a class="like-btn" ng-click="likePost($event, thisPost)" href="#">
                <span><i class="fa fa-heart-o"></i> {{ thisPost.likeCount }}</span>
            </a>

            <span class="task" ng-if="showPostTasks">
                <a href="/task/{{thisPost.task.slug}}">
                    <i class="fa fa-check-square-o"></i> {{ thisPost.task.name }}
                </a>
            </span>

            <a class="title"
               href="/task/{{ (thisPost.task ? thisPost.task.slug : (task ? task.slug : ''))}}/{{ thisPost.slug }}"
               ng-click="goToPost($event, thisPost)">{{ thisPost.title }}</a>

            <span class="details">

                <span ng-if="showPostApproval && thisPost.submission.approved === 1" class="green">
                    <i class="fa fa-check-circle"></i> Approved Submission
                </span>

                <span ng-if="showPostApproval && thisPost.submission.approved === 0" class="orange">
                    <i class="fa fa-pause-circle"></i> Pending Submission
                </span>

                <span ng-if="showPostApproval && thisPost.submission.approved === -1" class="red">
                    <i class="fa fa-times-circle"></i> Rejected Submission
                </span>

                <span ng-if="!showPostApproval">
                    <i class="fa"
                   ng-class="{'fa-check-circle': thisPost.type === 'SUBMISSION', 'fa-question-circle' : thisPost.type === 'QUESTION', 'fa-info-circle' : thisPost.type === 'TIP'}"></i>
                    {{ thisPost.type.capitalizeFirstLetter() }}
                </span>

                <span ng-if="showPostUser !== false"><i class="fa fa-user"></i> {{ thisPost.user.username }}</span>
                <i class="fa fa-comment"></i> {{ thisPost.commentCount }}

            </span>
        </span>

    </li>

</ul>
