<div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">

    <input ng-model="searchStr"
           ng-disabled="disableInput"
           type="text"
           placeholder="{{placeholder}}"
           ng-focus="onFocusHandler()"
           class="{{inputClass}}"
           ng-focus="resetHideResults()"
           ng-blur="hideResults($event)"
           autocapitalize="off"
           autocorrect="off"
           autocomplete="off"
           ng-change="inputChangeHandler(searchStr)"/>

    <div class="angucomplete-dropdown" ng-show="showDropdown">

        <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>

        <div class="angucomplete-searching"
             ng-show="!searching && (!results || results.length == 0)"
             ng-bind="textNoResults"></div>

        <div class="angucomplete-row"
             ng-repeat="result in results"
             ng-click="selectResult(result)"
             ng-mouseenter="hoverRow($index)"
             ng-class="{'angucomplete-selected-row': $index == currentIndex}">

            <img class="round-img dropdown-task-sticker " ng-src="{{result.originalObject.sticker.design.imageUrl}}"/>

            <div class="angucomplete-title" ng-bind-html="result.originalObject.name"></div>

            <div class="angucomplete-description">
                and earn the <strong>{{ result.originalObject.sticker.name }}</strong> sticker
            </div>

        </div>

        <div class="angucomplete-row"
             ng-click="selectResult({'new': searchStr})"
             ng-mouseenter="hoverRow(results.length)"
             ng-class="{'angucomplete-selected-row': results.length == currentIndex}">
            <div class="angucomplete-title">Create a new sticker or task called "<strong>{{ searchStr | titlecase }}</strong>"</div>
        </div>

    </div>

</div>
