<ul class="posts">
    <li>
        <p class="title">
            <i class="fa fa-check-square-o"></i> <a href="#">Anthony</a> completed <a href="#">Visit the Forbidden City</a>.
            <span class="date">18 months ago.</span>
        </p>
        <p class="desc">&quot;3/10 would not recommend&quot;</p>
        <p><a class="btn btn-block btn-primary"><i class="fa fa-smile-o"></i> Way to go, Anthony</a></p>
    </li>
    <li>
        <p class="title">
            <i class="fa fa-question-circle"></i> <a href="#">Steve</a> needs help to <a href="#">Visit the Great Wall of China</a>.
            <span class="date">10 minutes ago.</span>
        </p>
        <p class="desc">&quot;How do I get there&quot;</p>
        <p><a class="btn btn-block"><i class="fa fa-commenting"></i> Help Steve</a></p>
    </li>
    <li>
        <p class="title">
            <i class="fa fa-check-square-o"></i> <a href="#">Anthony</a> completed <a href="#">Visit the Forbidden City</a>.
            <span class="date">18 months ago.</span>
        </p>
        <p class="desc">&quot;3/10 would not recommend&quot;</p>
        <p><a class="btn btn-block btn-primary"><i class="fa fa-smile-o"></i> Way to go, Anthony</a></p>
    </li>
    <li>
        <p class="title">
            <i class="fa fa-question-circle"></i> <a href="#">Steve</a> needs help to <a href="#">Visit the Great Wall of China</a>.
            <span class="date">10 minutes ago.</span>
        </p>
        <p class="desc">&quot;How do I get there&quot;</p>
        <p><a class="btn btn-block"><i class="fa fa-commenting"></i> Help Steve</a></p>
    </li>
    <li>
        <p class="title">
            <i class="fa fa-check-square-o"></i> <a href="#">Anthony</a> completed <a href="#">Visit the Forbidden City</a>.
            <span class="date">18 months ago.</span>
        </p>
        <p class="desc">&quot;3/10 would not recommend&quot;</p>
        <p><a class="btn btn-block btn-primary"><i class="fa fa-smile-o"></i> Way to go, Anthony</a></p>
    </li>
    <li>
        <p class="title">
            <i class="fa fa-question-circle"></i> <a href="#">Steve</a> needs help to <a href="#">Visit the Great Wall of China</a>.
            <span class="date">10 minutes ago.</span>
        </p>
        <p class="desc">&quot;How do I get there&quot;</p>
        <p><a class="btn btn-block"><i class="fa fa-commenting"></i> Help Steve</a></p>
    </li>
    <li>
        <p class="title">
            <i class="fa fa-check-square-o"></i> <a href="#">Anthony</a> completed <a href="#">Visit the Forbidden City</a>.
            <span class="date">18 months ago.</span>
        </p>
        <p class="desc">&quot;3/10 would not recommend&quot;</p>
        <p><a class="btn btn-block btn-primary"><i class="fa fa-smile-o"></i> Way to go, Anthony</a></p>
    </li>
    <li>
        <p class="title">
            <i class="fa fa-question-circle"></i> <a href="#">Steve</a> needs help to <a href="#">Visit the Great Wall of China</a>.
            <span class="date">10 minutes ago.</span>
        </p>
        <p class="desc">&quot;How do I get there&quot;</p>
        <p><a class="btn btn-block"><i class="fa fa-commenting"></i> Help Steve</a></p>
    </li>
    <li>
        <p class="title">
            <i class="fa fa-check-square-o"></i> <a href="#">Anthony</a> completed <a href="#">Visit the Forbidden City</a>.
            <span class="date">18 months ago.</span>
        </p>
        <p class="desc">&quot;3/10 would not recommend&quot;</p>
        <p><a class="btn btn-block btn-primary"><i class="fa fa-smile-o"></i> Way to go, Anthony</a></p>
    </li>
    <li>
        <p class="title">
            <i class="fa fa-question-circle"></i> <a href="#">Steve</a> needs help to <a href="#">Visit the Great Wall of China</a>.
            <span class="date">10 minutes ago.</span>
        </p>
        <p class="desc">&quot;How do I get there&quot;</p>
        <p><a class="btn btn-block"><i class="fa fa-commenting"></i> Help Steve</a></p>
    </li>
    <li>
        <p class="title">
            <i class="fa fa-check-square-o"></i> <a href="#">Anthony</a> completed <a href="#">Visit the Forbidden City</a>.
            <span class="date">18 months ago.</span>
        </p>
        <p class="desc">&quot;3/10 would not recommend&quot;</p>
        <p><a class="btn btn-block btn-primary"><i class="fa fa-smile-o"></i> Way to go, Anthony</a></p>
    </li>
</ul>
