<div ng-include="'views/partials/comment-form.html'" ng-controller="CommentFormController"></div>

<ul class="posts">
    <li ng-repeat="comment in comments">
        <p class="title">
            <i class="fa fa-check-square-o"></i> <a href="#">{{ comment.user.username }}</a> <span class="date">{{ comment.createdAt }}</span>
        </p>
        <p class="desc">&quot;{{ comment.comment }}</p>
        <p><a class="btn btn-block btn-primary"><i class="fa fa-smile-o"></i> Way to go, Anthony</a></p>
    </li>
</ul>
