<div class="content dark-page">
<div class="container">
    <h1>How Stickable Works</h1>

    <div class="how-it-works">

        <div class="row">

            <div class="col-md-4">
                <i class="fa fa-5x fa-list-ol"></i>
                <h3>1. Complete Tasks</h3>
                <p>Submit photos to show you completed them.</p>
            </div>

            <div class="col-md-4">
                <i class="fa fa-5x fa-trophy"></i>
                <h3>2. Earn Stickers</h3>
                <p>Once you've done the tasks for a sticker, you've got it!</p>
            </div>

            <div class="col-md-4">
                <i class="fa fa-5x fa-certificate"></i>
                <h3>3. Receive Stickers</h3>
                <p>Earn 5 stickers and we'll send you actual stickers you can stick.</p>
            </div>

        </div>

    </div>

</div>
</div>
