<div class="content">
<div class="container">
    <h1>About Stickable</h1>

    <section id="how-it-works">
        <div class="container">

            <h2>How Stickable Works</h2>

            <div class="row">

                <div class="col-md-3">
                    <i class="fa fa-5x fa-trophy"></i>

                    <h3>Choose Stickers<span>To Work Towards</span></h3>
                </div>

                <div class="col-md-3">
                    <i class="fa fa-5x fa-check-square-o"></i>

                    <h3>Do The Tasks<span>Make Something, Visit Somewhere, Do Something!</span></h3>
                </div>

                <div class="col-md-3">
                    <i class="fa fa-5x fa-camera-retro"></i>

                    <h3>Submit Photos<span>Or Other Evidence Of You Doing The Tasks</span></h3>
                </div>

                <div class="col-md-3">
                    <i class="fa fa-5x fa-certificate"></i>

                    <h3>Receive Stickers<span>In The Mail</span></h3>
                </div>

                <div class="col-md-4">

                </div>
            </div>

        </div>
    </section>


    <h1>Design Elements</h1>

    <hr/>

    <div class="titlecrumbs">
        <h2><i class="fa fa-circle"></i> H2 Title</h2>
        <h1><i class="fa fa-circle"></i> H1 Title</h1>
    </div>

    <div class="titlecrumbs">
        <h3><i class="fa fa-circle"></i> H3 Title</h3>
        <h2><i class="fa fa-circle"></i> H2 Title</h2>
        <h1><i class="fa fa-circle"></i> H1 Title</h1>
    </div>


    <h1>This is an h1 heading</h1>

    <h2>This is an h2 heading</h2>

    <h3>This is an h3 heading</h3>
    <h4>This is an h4 heading</h4>
    <h5>This is an h5 heading</h5>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam metus felis, egestas a sem et, lobortis venenatis
        libero. Nunc vitae justo eget lectus scelerisque faucibus vel ac felis. Sed iaculis leo vitae pulvinar
        dignissim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent at
        enim egestas, convallis erat at, pellentesque arcu. Nunc rutrum sem vitae orci mollis feugiat. Aenean ante
        ipsum, aliquam vel imperdiet id, pulvinar vel lectus. Sed sagittis elit non ipsum porta, in luctus tellus
        efficitur. Nunc turpis metus, volutpat sit amet ante eu, sollicitudin vulputate lacus. Duis sit amet sem a nunc
        euismod posuere at vel justo. Integer condimentum sollicitudin lacus, sed sollicitudin dui efficitur eget.
        Suspendisse at vehicula risus. Donec nec dui in arcu consequat tincidunt. Nullam gravida eros elit, vitae
        venenatis risus mattis vel. Donec ut sollicitudin nibh, vel scelerisque sem.</p>

    <h2>Button Examples</h2>

    <p class="text-center">
        <a href="#" class="btn">Blue buttons go to another page</a>
        <a href="#" class="btn btn-primary">Purple buttons do an action right now</a>

        <a href="#" class="btn btn-danger">Do something bad</a>
        <a href="#" class="btn btn-success">Do something good</a>
        <a href="#" class="btn btn-warning">Do something medium</a>
    </p>

    <p class="text-center">
        <a href="#" class="btn btn-blue btn-lg">btn-lg</a>
        <a href="#" class="btn btn-blue">btn</a>
        <a href="#" class="btn btn-blue btn-sm">btn-sm</a>
    </p>
</div>
</div>
