<div class="container">
    <h1>About Stickable</h1>
    <p>Best site ever.</p>

    <h1>This is an h1 heading</h1>
    <h2>This is an h2 heading</h2>
    <h3>This is an h3 heading</h3>
    <h4>This is an h4 heading</h4>
    <h5>This is an h5 heading</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam metus felis, egestas a sem et, lobortis venenatis libero. Nunc vitae justo eget lectus scelerisque faucibus vel ac felis. Sed iaculis leo vitae pulvinar dignissim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent at enim egestas, convallis erat at, pellentesque arcu. Nunc rutrum sem vitae orci mollis feugiat. Aenean ante ipsum, aliquam vel imperdiet id, pulvinar vel lectus. Sed sagittis elit non ipsum porta, in luctus tellus efficitur. Nunc turpis metus, volutpat sit amet ante eu, sollicitudin vulputate lacus. Duis sit amet sem a nunc euismod posuere at vel justo. Integer condimentum sollicitudin lacus, sed sollicitudin dui efficitur eget. Suspendisse at vehicula risus. Donec nec dui in arcu consequat tincidunt. Nullam gravida eros elit, vitae venenatis risus mattis vel. Donec ut sollicitudin nibh, vel scelerisque sem.</p>

    <h2>Button Examples</h2>
    <p class="text-center">
        <a href="#" class="btn">Go somewhere</a>
        <a href="#" class="btn btn-primary">Do an action</a>
        <a href="#" class="btn btn-danger">Do something bad</a>
        <a href="#" class="btn btn-success">Do something good</a>
        <a href="#" class="btn btn-warning">Do something medium</a>
    </p>

    <p class="text-center">
        <a href="#" class="btn btn-blue btn-lg">btn-lg</a>
        <a href="#" class="btn btn-blue">btn</a>
        <a href="#" class="btn btn-blue btn-sm">btn-sm</a>
    </p>
</div>
