<div ng-class="{'search-results-visible': searchResultsVisible}">

    <div class="splash home-splash">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <img src="/assets/img/stickable.svg" alt="Stickable" id="home-splash-logo"/>
                </div>
                <div class="col-sm-9 white">
                    <h2>Discover new hobbies. Get help from our community. Earn stickers for achieving your goals.</h2>
                    <a class="btn btn-lg no-block btn-labeled" href="/help">
                        <span class="btn-label"><i class="fa fa-fw fa-info"></i></span>
                        Learn More
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="black-bg dark-page">
            <div class="container home-task-search">

                <div class="text-center">
                    <h2>Start Building Your To Do List</h2>

                    <div class="row">

                        <div class="col-md-8">
                            <p>Type something you want to achieve.</p>

                            <input
                                    type="text"
                                    class="form-control input-lg"
                                    ng-keyup="search()"
                                    ng-focus="searchFocus()"
                                    ng-blur="searchBlur()"
                                    ng-model="searchData.value"
                                    placeholder="I want to..."
                                    />

                        </div>
                        <div class="col-md-4">

                            <p>Can't think of something?</p>

                            <a class="btn btn-primary btn-block btn-lg btn-labeled" href="/bot">
                                <span class="btn-label"><i class="fa fa-fw fa-search"></i></span>
                                Try The Idea Robot
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="white-bg search-results" ng-show="searchData.value">
            <div class="container">

                <h2 class="text-center" ng-if="searchData.value">
                    &quot;{{ searchData.value }}&quot; Stickers
                </h2>

                <div class="text-center search-results-loading" ng-if="searchResultsLoading">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>

                <div class="text-center search-results-none"
                     ng-show="!searchResultsLoading && searchResults.stickers.length < 1">
                    No existing stickers found
                </div>

                <ul>
                    <li ng-repeat="sticker in searchResults.stickers" class="sticker-result">
                        <a href="/sticker/{{sticker.slug}}">
                            <st-sticker sticker="sticker"></st-sticker>
                            {{ sticker.name }}
                        </a>
                    </li>
                    <li class="sticker-result">
                        <a href="#" ng-click="newSticker(searchData.value)">
                            <span class="sticker-create-icon"><i class="fa fa-plus"></i></span>
                            Create a new sticker called <strong>{{ searchData.value | titlecase }}</strong>
                        </a>
                    </li>
                </ul>

            </div>
        </div>

        <div class="home-content">

            <div class="white-bg">
                <div class="container">

                    <div class="row">

                        <div class="col-md-4">
                            <a class="featured-sticker" href="/sticker/example-sticker">
                                <span>
                                    <h4>Sticker of the week</h4>
                                    Example Sticker
                                </span>
                            </a>
                        </div>


                        <div class="col-md-8">
                            <h2>Featured Posts</h2>
                            <ng-include src="'views/partials/post-list.html'"
                                        ng-controller="PostsController"></ng-include>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
