<div class="splash-bg" ng-style="{ 'background-image': 'url(' + splashImage + ')'}">
</div>

<div class="splash home-splash">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="/assets/img/stickable.png" alt="Stickable" id="home-splash-logo"/>
            </div>
            <div class="col-sm-8 text-shadow">
                <h2>Try something new, get help from our community, and earn real-life stickers to show off your
                    progress.</h2>
                <a class="btn btn-primary" href="/bot"><i class="fa fa-play-circle"></i> Find Something To Do</a>
                <a class="btn" href="/help"><i class="fa fa-info"></i> Learn More</a>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">

        <div class="row">

            <div class="col-md-7">

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porta, augue ut vulputate aliquet,
                    est massa malesuada libero, nec aliquet nibh nisl sit amet urna. In tincidunt maximus quam, ac
                    feugiat ante porta id. Maecenas lobortis feugiat lorem vel auctor. Integer a nulla in orci ultrices
                    semper. Suspendisse dapibus quam vel fringilla elementum. Etiam nibh lectus, maximus non sapien non,
                    faucibus porttitor est. Proin eget fringilla sem. Nullam urna augue, vulputate sit amet dui eget,
                    scelerisque facilisis mauris. Nam lorem est, elementum sed ullamcorper volutpat, suscipit et
                    dui.</p>

                <p>Nulla ac justo lacus. Vestibulum urna nulla, iaculis in sapien sed, pretium semper tortor. Maecenas
                    tristique, erat nec fermentum varius, massa arcu faucibus libero, ut convallis lacus odio a enim.
                    Aenean semper, turpis auctor placerat pellentesque, ligula justo vehicula ex, accumsan pellentesque
                    nisi diam eget neque. Mauris id risus velit. Phasellus malesuada est turpis, ac congue odio
                    malesuada ornare. Vivamus in diam mi. Mauris pharetra vestibulum lacus, nec iaculis mi vehicula
                    eget. Integer finibus id libero ut cursus.</p>

                <p>Etiam nec gravida tortor. Duis placerat egestas urna. Nulla ullamcorper nisl non nulla consectetur,
                    ut sodales elit iaculis. Sed gravida porttitor felis non commodo. Nunc venenatis lorem diam, nec
                    ornare purus fringilla vitae. Curabitur sed leo orci. Nam eros enim, interdum elementum tristique
                    vel, aliquam a nisl. In ac interdum neque, in lacinia mi. Donec porta a lacus sit amet auctor.</p>

                <p>Nunc tincidunt erat vulputate velit malesuada, quis dapibus est tristique. Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit. Phasellus ullamcorper maximus urna a suscipit. In at vulputate
                    sapien, sit amet sollicitudin lorem. Sed feugiat auctor neque vel efficitur. Quisque blandit
                    porttitor massa, eu facilisis tortor volutpat a. Nam accumsan faucibus mauris, in lobortis sapien
                    imperdiet vitae. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer hendrerit sit
                    amet purus vitae finibus. Curabitur ut sodales lacus, ac dignissim arcu. Maecenas sit amet rhoncus
                    odio. Aliquam viverra ligula ac justo elementum vestibulum. Maecenas at semper tellus. Sed malesuada
                    placerat gravida. Maecenas sapien erat, vestibulum eget ante sollicitudin, laoreet blandit nunc.
                    Donec nisi turpis, vestibulum eu lacus sed, cursus aliquam ipsum.</p>

                <p>Quisque sed rhoncus leo. Suspendisse nec nibh odio. Aenean sed felis dignissim, faucibus massa id,
                    tincidunt erat. Nullam nec rutrum risus. Fusce rutrum orci et pulvinar condimentum. In hac habitasse
                    platea dictumst. Praesent eget justo pulvinar, rutrum erat non, luctus justo. Nulla nisi velit,
                    mollis non ipsum eu, convallis tincidunt odio. Ut et massa ac magna pellentesque varius sit amet at
                    dolor. Morbi tristique, elit eget ornare fringilla, ipsum neque ultrices neque, eget scelerisque
                    dolor purus id enim. Aenean in fringilla mi, nec tristique nunc. Suspendisse potenti. Sed ultricies
                    eros sit amet maximus ultrices.</p>

            </div>

            <div class="col-md-5">

            </div>

        </div>


        <section id="how-it-works">
            <div class="container">

                <h2>How Stickable Works</h2>

                <div class="row">

                    <div class="col-md-3">
                        <i class="fa fa-5x fa-trophy"></i>

                        <h3>Choose Stickers<span>To Work Towards</span></h3>
                    </div>

                    <div class="col-md-3">
                        <i class="fa fa-5x fa-check-square-o"></i>

                        <h3>Do The Tasks<span>Make Something, Visit Somewhere, Do Something!</span></h3>
                    </div>

                    <div class="col-md-3">
                        <i class="fa fa-5x fa-camera-retro"></i>

                        <h3>Submit Photos<span>Or Other Evidence Of You Doing The Tasks</span></h3>
                    </div>

                    <div class="col-md-3">
                        <i class="fa fa-5x fa-certificate"></i>

                        <h3>Receive Stickers<span>In The Mail</span></h3>
                    </div>

                    <div class="col-md-4">

                    </div>
                </div>

            </div>
        </section>

    </div>

    <section>
        <ul id="home-categories" class="category-list row">
            <li class="col-lg-3 col-sm-4 col-xs-6" ng-repeat="category in categories">
                <a href="/category/{{ category.slug }}" ng-style="{'background-image':'url('+category.thumbUrl+')'}">
                    <span>{{ category.name }}</span>
                </a>
            </li>
        </ul>
    </section>


</div>
