.comments {
    list-style: none;
    padding: 0;
    margin: 0;
}

.comment {
    .clearfix();
    clear:both;
    position: relative;

    // Space between comments
    margin-bottom:20px;

    .inner {
        position: relative;
        padding: 10px 15px;
        margin:0 0 10px 0;
        color: #000;
        background: #fff;
        border-radius: @border-radius-base;

        // Comment speech arrow
        &:after {
            content: '';
            bottom: -19px;
            left: 28px;
            position: absolute;
            border: 0 solid;
            display: block;
            width: 38px;
            height: 26px;
            background-color: transparent;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
            box-shadow: -21px 9px 0 8px #fff;
            transform: rotate(73deg);
            z-index: -1;
        }
    }

    .author,
    .actions {
        font-size: 12px;

        a {
            margin-left: 10px;

            &:first-child {
                margin-left:0;
            }
        }
    }

    .author {
        float:left;
        margin-left:45px;

        a {
            color:@default-text-color;
        }
    }

    .actions {
        float:right;
        margin-right: 15px;
    }

    .like-btn {
        font-size:14px;
        padding:2px 0;

        i {
            font-size:16px;
        }
    }
}

.comment .user-image,
.single-post .user-image {
    width:25px;
    height:25px;
    margin-right:5px;
}

.comment-form {
    textarea {
        min-height:100px;
    }
}

/**
 * Comment Replies
 */
.comment .comments {
    clear:both;
    // Indent comments
    margin-left: 45px;

    #comment-form-include,
    > .comment:first-child,
    > .comment-include:first-child {
        padding-top:20px;
    }

    > .comment:last-child,
    > .comment-include:last-child > .comment {
        margin-bottom:0;
    }
}

// Make comment replies darker
.comment-depth (@i) {
    .comment-replies-@{i} .comment .inner {
        background: darken(#fff, 100% * ((@i+1)/20));
        &:after {
            box-shadow: -21px 9px 0 8px darken(#fff, 100% * ((@i+1)/20));
        }
    }
}

.comment-depth(0);
.comment-depth(1);
.comment-depth(2);
.comment-depth(3);
.comment-depth(4);


@media (max-width: @screen-sm-max) {
    .comment {
        // Adjust comment speech bubble
        .inner:after {
            left:17px;
            transform: rotate(73deg) scale(.6);
        }

        .author {
            margin-left:35px;
        }

        .author,
        .actions {
            font-size:11px;
        }
    }

    .comment .comments {
        margin-left: 30px;
    }
}
