.modal {
    color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .vertical-center();
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.6) 85%, rgba(0, 0, 0, 0.6) 100%);
    z-index: 10;
    .transition-all();

    a {
        color: #000;
    }
}

.modal-content {
    border: 0;
    background: #fff;
    width: 800px;
    padding: 15px;
    max-width: 100%;
    margin:auto;

    label {
        display: block;

        i {
            top:-1px;
        }
    }

    .form-group {
        margin-top: 15px;
    }

    .form-control {
        margin-top:3px;
    }

    h2 {
        margin-bottom:15px;
    }
}

.modal-header {
    background: @navbar-color;
    margin: -15px -15px 15px -15px;
    color:#fff;
    padding:0;
    border:0;
    border-radius:@border-radius-base @border-radius-base 0 0;
    position: relative;

    h4 {
        text-align: center;
        color: #fff;
        font-weight: normal;
        font-size: 31px;
        margin: 0 50px;
        line-height:34px;
        padding:8px 0;
        .fonty();
    }
}


.modal-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 9px 15px;
    margin: 0;
    border: 0;
    z-index: 2;
    color:#fff;
    background: none;
    outline: none;
    font-size: 23px;
}

.modal.ng-enter {
    opacity: 0;
}

.modal.ng-enter.ng-enter-active {
    opacity: 1;
}

.modal.ng-leave {
    opacity: 1;
}

.modal.ng-leave.ng-leave-active {
    opacity: 0;
}

@media (max-width: @screen-sm-max) {
    .modal-content {
        height:100%;
    }

    .modal-footer .btn {
        margin:0 0 15px 0 !important;
    }

    .modal.ng-enter {
        transform: translate3d(0, 100%, 0);
        opacity:1;
    }

    .modal.ng-enter.ng-enter-active {
        transform: translate3d(0, 0, 0);
    }

    .modal.ng-leave {
        transform: translate3d(0, 0, 0);
    }

    .modal.ng-leave.ng-leave-active {
        transform: translate3d(0, 100%, 0);
        opacity:1;
    }

}
