.posts {
    list-style: none;
    padding: 0;

    li {
        display: block;
        //background: rgba(49, 49, 57, .03);
        background: #F9F9F9;
        position: relative;
        margin: 0;
        padding: 10px;

        &:nth-child(even) {
            //background: rgba(49, 49, 57, .07);
            background: #F1F1F2;
        }
    }

    h4 {
        font-size: 12px;
        margin: 0 0 5px 0;
        color: @blue;
    }

    h3 {
        font-size: 22px;
        margin: 0 0 5px 0;

        a {
            color: @purple;
        }
    }

    .media-left {
        min-width: 110px;
    }

    .media-object {
        width: 100px;
        height: 100px;
    }

    .media-body {

    }

    .details {
        font-size: 12px;
        color: @grey;
        vertical-align: text-top;

        i {
            margin-left: 5px;
            margin-right: 3px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.posts-container {
    min-height: ~"calc(100vh + 5px - @{footer-height})";

    .btn {
        margin:0;
    }

    .alert {
        padding:10px;
    }
}

@media (min-width: @screen-md-min) {
    .posts-container {
        min-height:0;
        .alert {
            margin: 15px 0;
            padding:15px;
        }
    }
}
