.sticker-list {
    padding-left: 0;
    margin: 0;
    list-style: none;

    li {
        margin: 0 0 15px;
        text-align: left;
        height: 160px;
    }

    .sticker {
        float: left;
    }

    h3 {
        margin: 65px 0 0 15px;
        float: left;
    }

}

.small-sticker-list {
    .sticker {
        width: 90px;
        height: 90px;
    }
}

@media (min-width: @screen-md-min) {
    .sticker-list {
        text-align: center;

        li {
            text-align: center;
            float: none;
            display: inline-block;
        }

        .sticker {
            float:none;
        }

        h3 {
            float:none;
            margin:15px 0;
        }
    }
}
