<div class="container">
    <div class="row">

            <div class="panel panel-default">
                <div class="panel-heading"><h1>Login</h1></div>
                <div class="panel-body">

                    <form class="form-horizontal" role="form" ng-submit="login()">

                        <div class="form-group" ng-class="{'has-error': loginFormData.errors.username}">

                            <label class="col-md-4 control-label">Username <i class="fa fa-user"></i></label>

                            <div class="col-md-8">
                                <span ng-if="!loginFormData.errors.username" class="help-block">Up to 30 characters and can only contain letters, numbers, hyphens, or underscores.</span>
                                <span ng-if="loginFormData.errors.username" class="help-block">{{ loginFormData.errors.username.join(' ') }}</span>
                                <input type="username"
                                       class="form-control"
                                       name="username"
                                       value=""
                                       required
                                       ng-model="loginFormData.username"
                                        />
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': loginFormData.errors.password}">
                            <label class="col-md-4 control-label">Password <i class="fa fa-key"></i></label>

                            <div class="col-md-8">
                                <span ng-if="!loginFormData.errors.password" class="help-block">Minimum 5 characters.</span>
                                <span ng-if="loginFormData.errors.password" class="help-block">{{ loginFormData.errors.password.join(' ') }}</span>
                                <input type="password"
                                       class="form-control"
                                       name="password"
                                       required
                                       ng-model="loginFormData.password"
                                        />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button type="submit" class="btn btn-primary btn-labeled" ng-class="{'btn-loading': loginFormData.loading}">
                                    <span class="btn-label"><i class="fa fa-key fa-fw"></i></span>
                                    Login
                                </button>

                                <a href="/forgot" class="btn btn-labeled">
                                    <span class="btn-label"><i class="fa fa-question fa-fw"></i></span>
                                    Forgot Details
                                </a>

                                <a href="/signup" class="btn btn-labeled">
                                    <span class="btn-label"><i class="fa fa-user fa-fw"></i></span>
                                    Create Account
                                </a>
                            </div>
                        </div>

                    </form>

                </div>
            </div>

    </div>
</div>
