<div class="container">
    <div class="row">

            <div class="panel panel-default">
                <div class="panel-heading"><h1>Create An Account</h1></div>
                <div class="panel-body">

                    <form class="form-horizontal" role="form" ng-submit="signup()">

                        <div class="form-group" ng-class="{'has-error': signupFormData.errors.username}">
                            <label class="col-md-4 control-label">Username <i class="fa fa-user"></i></label>

                            <div class="col-md-8">
                                <span ng-if="!signupFormData.errors.username" class="help-block">Up to 30 characters and can only contain letters, numbers, hyphens, or underscores.</span>
                                <span ng-if="signupFormData.errors.username" class="help-block">{{ signupFormData.errors.username.join(' ') }}</span>
                                <input type="text"
                                       class="form-control"
                                       name="username"
                                       ng-model="signupFormData.username"
                                       required
                                       placeholder="" />
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': signupFormData.errors.email}">
                            <label class="col-md-4 control-label">E-Mail Address <i class="fa fa-envelope"></i></label>

                            <div class="col-md-8">
                                <span ng-if="signupFormData.errors.email" class="help-block">{{ signupFormData.errors.email.join(' ') }}</span>
                                <input type="email"
                                       class="form-control"
                                       name="email"
                                       ng-model="signupFormData.email"
                                       required
                                        placeholder=""
                                        />
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': signupFormData.errors.password}">
                            <label class="col-md-4 control-label">Password <i class="fa fa-key"></i></label>

                            <div class="col-md-8">
                                <span ng-if="!signupFormData.errors.password" class="help-block">Minimum 5 characters.</span>
                                <span ng-if="signupFormData.errors.password" class="help-block">{{ signupFormData.errors.password.join(' ') }}</span>
                                <input type="password"
                                       class="form-control"
                                       name="password"
                                       ng-model="signupFormData.password"
                                       required
                                        placeholder=""
                                        />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button type="submit" class="btn btn-primary btn-labeled" ng-class="{'btn-loading': signupFormData.loading}">
                                    <span class="btn-label"><i class="fa fa-user fa-fw"></i></span>
                                    Signup
                                </button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>

    </div>
</div>

