<div class="modal">

    <div class="modal-content">

        <div class="modal-header">
            <button ng-click="close()" class="modal-close-btn">
                <i class="fa fa-times"></i>
            </button>

            <h4 class="modal-title">Add A Post</h4>
        </div>

        <form class="form" ng-submit="submit()">

            <div class="modal-body">

                <!--<div class="form-group">

                    <ul class="tabs tabs-2">
                        <li ng-class="{'tab-current': postType === 'tip' }">
                            <a href="#" ng-click="setPostType($event, 'tip')">
                                <i class="fa fa-fw fa-info-circle"></i> Tip
                            </a>
                        </li>
                        <li ng-class="{'tab-current': postType === 'question' }">
                            <a href="#" ng-click="setPostType($event, 'question')">
                                <i class="fa fa-fw fa-question-circle"></i> Question
                            </a>
                        </li>
                    </ul>

                </div>-->

                <div class="form-group">
                    <label for="post-title">Title</label>
                    <input type="text"
                           class="form-control"
                           ng-model="formData.title"
                           id="post-title"
                           placeholder="Give your post a title."/>
                </div>

                <div class="form-group">
                    <label for="post-text">Post</label>
                    <textarea class="form-control" id="post-text" ng-model="formData.text" placeholder="Write your tip, question, or other post here."></textarea>
                </div>

            </div>

            <div class="modal-footer">

                <button ng-click="close()"
                        type="button"
                        class="btn btn-danger btn-labeled pull-left hidden-xs hidden-sm">
                    <span class="btn-label"><i class="fa fa-trash"></i></span>
                    Cancel
                </button>

                <button class="btn btn-primary btn-labeled">
                    <span class="btn-label"><i class="fa fa-save"></i></span>
                    Submit
                </button>
            </div>

        </form>

    </div>

</div>
