<div class="modal submission-form-modal modal-paged">

    <div class="modal-content">

        <button ng-click="close()" class="modal-close-btn">
            <i class="fa fa-times"></i>
        </button>

        <form class="form" ng-submit="submit()">

            <div class="modal-body">
                
                <div ng-show="stage === 1" class="submission-stage">

                    <h2>{{ task.submission }}</h2>

                    <div ng-include="'views/partials/submission-forms/' + task.submissionType.toLowerCase() + '.html'"></div>

                </div>

                <div ng-show="stage === 2" class="submission-stage">

                    <h2>{{ (hasFirstStage ? 'Post Your Submission' : task.submission) }}</h2>

                    <!--<div class="form-group">

                        <ul class="tabs tabs-2">
                            <li ng-class="{'tab-current': formData.private === 0 }">
                                <a href="#" ng-click="setPrivate($event, 0)">
                                    <i class="fa fa-fw fa-file-text-o"></i> Post About It
                                </a>
                            </li>

                            <li ng-class="{'tab-current': formData.private === 1 }">
                                <a href="#" ng-click="setPrivate($event, 1)">
                                    <i class="fa fa-fw fa-lock"></i> Keep It Private
                                </a>
                            </li>
                        </ul>

                    </div>-->

                    <div class="form-group" ng-show="formData.private === 0" ng-class="{'has-error': errors.title}">
                        <label for="post-title">Title</label>
                        <span ng-if="errors.title" class="help-block">{{ errors.title.join(' ') }}</span>
                        <input type="text"
                               class="form-control"
                               ng-model="formData.title"
                               id="post-title"
                               placeholder="Give your post a title."/>
                    </div>

                    <div class="form-group" ng-show="formData.private === 0" ng-class="{'has-error': errors.text}">
                        <label for="post-text">Content</label>
                        <span ng-if="errors.text" class="help-block">{{ errors.text.join(' ') }}</span>
                        <textarea class="form-control" id="post-text" ng-model="formData.text" placeholder="Write your post."></textarea>
                    </div>

                    <p class="submission-help submission-post-help" ng-show="formData.private === 0 && submissionType === 'image'">
                        <i class="fa fa-star"></i> Tell the story of how you completed this task. Did you find it interesting? Can you share some tips to help others?
                        <br/><i class="fa fa-info-circle"></i> Your photo(s) from the previous page and story you enter below will appear on the page for the task. Other members can like and comment on your post.
                    </p>

                    <p class="submission-help" ng-show="formData.private === 1">
                        <i class="fa fa-info-circle"></i> Your submission will still count towards earning the sticker, but nobody else will see it or be able to like or comment on it.
                        <br/>
                        <span class="red">
                        <i class="fa fa-exclamation-triangle"></i> Stickable works best when you post about the task and share stories and advice for others attempting to complete this. Consider writing a post even if it's only a few lines.</span>
                    </p>

                </div>

                <div ng-show="stage === 3" class="submission-stage">

                    <h2>Rate The Task</h2>

                    <label>How much did it cost?</label>
                    <st-rating class="rating-price" model="formData.cost" values="costs"></st-rating>

                    <label>How long did it take?</label>
                    <st-rating class="rating-time" model="formData.time" values="times"></st-rating>

                    <label>How much did you enjoy it?</label>
                    <st-rating class="rating-star" model="formData.rating" values="ratings"></st-rating>

                    <p class="submission-help">
                        <i class="fa fa-info-circle"></i> Providing this feedback helps us suggest tasks you'll enjoy that fit your time and budget.
                    </p>

                </div>

            </div>

            <div class="modal-footer">

                <ul class="dots modal-dots">
                    <li ng-if="hasFirstStage" ng-class="{'active': stage === 1}"><a href="#" ng-click="toStage(1)"></a></li>
                    <li ng-class="{'active': stage === 2}"><a href="#" ng-click="toStage(2)"></a></li>
                    <li ng-class="{'active': stage === 3}"><a href="#" ng-click="toStage(3)"></a></li>
                </ul>

                <a class="btn btn-labeled btn-block-sm" ng-class="{'disabled': !nextEnabled}" ng-click="nextStage()" ng-hide="stage === 3">
                    <span class="btn-label"><i class="fa fa-arrow-right"></i></span>
                    Continue
                </a>

                <button class="btn btn-primary btn-labeled btn-block-sm" ng-show="stage === 3" ng-class="{'btn-loading': submitting}">
                    <span class="btn-label"><i class="fa fa-save"></i></span>
                    Submit
                </button>
            </div>

        </form>

    </div>

</div>
