<div class="modal task-form-modal">

    <div class="modal-content">

        <button ng-click="close()" class="modal-close-btn">
            <i class="fa fa-times"></i>
        </button>

        <form class="form" ng-submit="submit()">

            <div class="modal-body">

                <h2 class="text-center">Create A Task</h2>

                <div class="form-group">
                    <span class="pull-right help-block">e.g. Visit <em>place</em> or Make a <em>thing</em>.</span>
                    <label for="task-title"><i class="fa fa-check-square-o"></i> What Needs Doing?</label>
                    <input type="text"
                           class="form-control"
                           ng-model="formData.name"
                           id="task-title"
                           placeholder="Give your task a title."/>
                </div>

                <div class="form-group">
                    <span class="help-block pull-right">e.g. Take a photo of you at <em>place</em> or Take a photo of <em>the thing you made</em>.</span>
                    <label for="task-submission"><i class="fa fa-cloud-upload"></i> How Do You Show You've Done It?</label>

                    <st-tabs class="clear" model="formData.submissionType" values="submissionTypes"></st-tabs>

                    <textarea class="form-control" id="task-submission" ng-model="formData.submission" placeholder="What's needed?" style="min-height:0"></textarea>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-primary btn-labeled">
                    <span class="btn-label"><i class="fa fa-save"></i></span>
                    Submit
                </button>
            </div>

        </form>

    </div>

</div>
