@default-text-color: #333;

@purple: #56435e;
@blue: #1c6a81;

@red: #c0392b;
@yellow: #f4ac42;
@green: #27ae60;
@orange: #f6624a;

@grey: #777;

@navbar-color: rgb(49, 49, 57);
//#313139;
@navbar-trans-color: rgba(49, 49, 57, .2);


