body {
    // If fixed header is used
    padding-top: @header-height;
    overflow-x: hidden;
    //-webkit-overflow-scrolling: touch;
    //overflow-y:auto;

    // Makes fonts nicer on iOS
    //-webkit-text-stroke: 0.1px;

    // To allow menu to slide in
    transition: all 0.2s ease-out;

    font-weight: 300;

    color: @default-text-color;
}

:first-child {
    margin-top: 0;
}

:last-child {
    margin-bottom: 0;
}

.ng-hide {
    display: none !important;
}

.clear {
    clear: both;
}

img {
    max-width: 100%;
}

p {
    font-family: @font-family-text;
    margin: 0 0 15px;
    line-height: 1.6;
}

h1 {
    padding: 15px 0;

    &:first-child {
        padding-top:0;
    }
}

h1, h2, h3, h4, h5 {
    color: @purple;
    font-family: @font-family-headings;
    margin: 15px 0;
    //.fonty();
    font-weight: 500;
    position: relative;
}

h2 {
    margin: 30px 0;
}

/*h4, h5 {
    color: @blue;
}*/

h5 {
    margin: 0 0 10px 0;
}

.white {
    color:#fff;
    .text-shadow();
}

.dark-page {
    h1, h2, h3, h4, h5 {
        color:#fff;
        .text-shadow();
    }
}

@media (max-width: @screen-sm-max) {
    /*h1 {
        font-size: @font-size-h1-sm;
    }

    h2 {
        font-size: @font-size-h2-sm;
    }

    h3 {
        font-size: @font-size-h3-sm;
    }

    h4 {
        font-size: @font-size-h4-sm;
    }*/
    .to-edge .alert {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        //margin:0;
        font-size: @font-size-sm;
    }
}

a:link,
a:visited {
    color: @blue;
    //font-weight: bold;
}

a:hover,
a:active,
a:focus {
    color: darken(@blue, 33%);
    text-decoration: none;
}

// Page backgrounds
/*.view-help {
    background-image: url(/assets/img/bg/about.jpg);
}

.view-login,
.view-logout,
.view-forgot,
.view-reset {
    background-image: url(/assets/img/bg/login.jpg);
}

.view-signup {
    background-image: url(/assets/img/bg/register.jpg);
}

.view-user-planner {
    //background-image: url(/assets/img/bg/planner.jpg);
}

.view-browse {
    //background-image: url(/assets/img/bg/cats.jpg);
}*/

.view.view-user-stickers {
    background: url(/assets/img/bg/linedpaper.png) top left repeat;
}

.alert {
    text-shadow: none;
    margin-bottom: 15px;
}

.red {
    color: @red;
}

.orange {
    color: @orange;
}

.yellow {
    color: @yellow;
}

.green {
    color: @green;
}

.blue {
    color: #2c3e50;
}

.panel {
    margin: 30px auto;
    max-width: 800px;
}

.panel-heading h1 {
    font-size: @font-size-h2;
    padding: 5px 0;
}

@media (max-width: @screen-sm-max) {
    .panel {
        margin: 15px;
    }
}

.progress {
    display: block;
    background: #fff;
    border: 1px #ddd solid;
    height: 30px;
    border-radius: 4px;
}

.progress-bar {
    line-height: 28px;
}

.progress-bar-white {
    background: none;
    color: @grey
}

textarea.form-control {
    min-height: 150px;
}

.user-image {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: @border-radius-base;
}

.default-user-image {
    display: inline-block;
    vertical-align: middle;
    background: url('/assets/img/default-user.jpg');
    background-size: 100%;
}

h1 .user-image,
.user-current-image {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

.user-list {
    .clearfix();

    .user {
        width: 100px;
        text-align: center;
        float: left;
        margin-right: 15px;
    }

    .pic {
        .round-corners();
        width: 100px;
        height: 100px;
        display: block;
        background: url('/assets/img/default-user.jpg');
        background-size: 100%;
        position: relative;
        margin-bottom: 5px;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: block;
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0.65) 100%);
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0.65) 100%);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0.65) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
        }

        > span {
            .text-shadow();
            font-size: 13px;
            padding: 0 0 5px;
            display: block;

            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            text-align: center;
            color: #fff;
        }
    }

    small {
        display: block;
        font-size: 10px;
    }

    .like-btn {
        float: none;
        display: block;
    }

}

@media (max-width: @screen-xs-max) {
    .user-list {
        .row > div {

        }

        .user-image {
            margin-right: 6px;
        }

        .name {
            font-size: 16px;
        }

        .like-btn {

        }
    }
}


@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.messenger-message-slot {

    animation: bounceIn .3s ease-out;
}
