body {
    // If fixed header is used
    //padding-top: @header-height;
    overflow-x: hidden;
    //-webkit-overflow-scrolling: touch;
    //overflow-y:auto;

    // Makes fonts nicer on iOS
    //-webkit-text-stroke: 0.1px;

    // To allow menu to slide in
    transition: all 0.2s ease-out;

    font-weight: 300;

    color: @default-text-color;
}

:first-child {
    margin-top: 0;
}

:last-child {
    margin-bottom: 0;
}

.ng-hide {
    display: none !important;
}

.clear {
    clear: both;
}

img {
    max-width: 100%;
}

p {
    font-family: @font-family-text;
    margin: 0 0 15px;
    line-height: 1.6;
}

h1 {
    padding: 15px 0;
}

h1, h2, h3, h4, h5 {
    color: @purple;
    font-family: @font-family-headings;
    margin: 15px 0;
    //.fonty();
    font-weight: 500;
    position: relative;
}

h4, h5 {
    color: @blue;
}

h5 {
    margin: 0 0 10px 0;
}

@media (max-width: @screen-sm-max) {
    /*h1 {
        font-size: @font-size-h1-sm;
    }

    h2 {
        font-size: @font-size-h2-sm;
    }

    h3 {
        font-size: @font-size-h3-sm;
    }

    h4 {
        font-size: @font-size-h4-sm;
    }*/
    .to-edge .alert {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        //margin:0;
        font-size: @font-size-sm;
    }
}

a:link,
a:visited {
    color: @blue;
    //font-weight: bold;
}

a:hover,
a:active,
a:focus {
    color: darken(@blue, 33%);
    text-decoration: none;
}

// Page backgrounds
.view-help {
    background-image: url(/assets/img/bg/about.jpg);
}

.view-login,
.view-logout,
.view-forgot,
.view-reset {
    background-image: url(/assets/img/bg/login.jpg);
}

.view-signup {
    background-image: url(/assets/img/bg/register.jpg);
}

p {

}

.red {
    color: @red;
}

.green {
    color: @green;
}

.blue {
    color: #2c3e50;
}

@brand-primary: @blue;
// #337ab7
@brand-success: @green;
//@brand-info:    #5bc0de;
@brand-warning: @yellow;
@brand-danger: @red;

.panel-heading h1 {
    font-size: @font-size-h3;
}

.progress {
    display: block;
    background: #fff;
    border: 1px #ddd solid;
    height: 30px;
    border-radius: 4px;
}

.progress-bar {
    line-height: 28px;
}

