// Mixins
.fonty {
    font-family: 'Rancho';
    font-weight: normal;
}

.hide-text {
    direction: ltr;
    text-indent: 100%;
}


.text-shadow {
    text-shadow: @text-shadow;
}

.round-corners {
    border-radius: @border-radius-base;
}

.vertical-center {
    // Vertical centering
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.trans-box {
    padding: 15px;
    border-radius: @border-radius-base;
    background: rgba(255, 255, 255, .3);
    //background: rgba(0, 0, 0, .3);
    p {
        .white();
    }
}

.transition-all(@speed: @standard-transition-speed) {
    transition: all @speed @standard-transition-easing;
}

.black-shade() {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: block;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0.65) 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0.65) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0.65) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    }
}
