@purple: #56435e;
@blue: #1c6a81;

@red: #c0392b;
@yellow: #f4ac42;
@green: #27ae60;
@orange: #f6624a;

@font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-size-base: 16px;
@font-size-larger: 18px;
@font-size-smaller: 14px;
@font-size-xs: 12px;

@font-size-h1: 60px;
@font-size-h2: ceil((@font-size-h1 * .7));
@font-size-h3: ceil((@font-size-h2 * .7));
@font-size-h4: ceil((@font-size-h3 * .7));
@font-size-h5: ceil((@font-size-h4 * .7));

// Smaller headings on mobile
@font-size-h1-sm: @font-size-h2;
@font-size-h2-sm: @font-size-h3;
@font-size-h3-sm: @font-size-h4;
@font-size-h4-sm: @font-size-h5;

@navbar-color: rgb(49, 49, 57);
//#313139;
@navbar-trans-color: rgba(49, 49, 57, .2);

@text-shadow: 1px 1px 2px rgba(0, 0, 0, .9);

@border-radius-base: 2px;
@border-radius-large: 2px;
@border-radius-small: 2px;

@standard-padding: 25px;
@header-height: 50px;
@footer-height: 50px;

// Buttons

@btn-text-color: #fff;

@btn-border-radius: 2px;

@btn-font-size: @font-size-smaller;
@btn-font-size-sm: ceil((@btn-font-size * .7));
@btn-font-size-lg: @font-size-larger;

@btn-padding: @font-size-smaller;
@btn-padding-sm: ceil((@btn-padding * .7));
@btn-padding-lg: ceil((@btn-padding * 1.4));

// Panels

@panel-heading-padding: (@standard-padding / 2) @standard-padding;
@panel-body-padding: @standard-padding;

//@breadcrumb-separator: "SEPPY";
@breadcrumb-separator: "\00bb";
