@default-text-color: #333;

@purple: #56435e;
@blue: #1c6a81;

@red: #c0392b;
@yellow: #f4ac42;
@green: #27ae60;
@orange: #f6624a;

@light-white: #eee;

// For text
@grey: #777;
@light-grey: #aaa;

// For backgrounds
@light-grey-bg: #f8f8f8;
@darker-grey-bg: #f2f2f2;
@grey-hover-bg: #f0f0f0;

@input-bg: #f9f9fa;

@navbar-color: rgba(49, 49, 57, 1);
@navbar-trans-color: rgba(49, 49, 57, .2);


@brand-primary: @blue;
@brand-success: @green;
@brand-warning: @yellow;
@brand-danger: @red;


@font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-headings: 'Roboto Slab', serif;
@font-family-text: @font-family-sans-serif;

@font-size-lg: 22px;
@font-size-base: 16px;
@font-size-sm: 14px;
@font-size-xs: 12px;
@font-size-small: 12px;

@font-size-h1: 40px;
@font-size-h2: 30px;
@font-size-h3: @font-size-lg;
@font-size-h4: ceil((@font-size-h3 * .8));
@font-size-h5: ceil((@font-size-h4 * .8));

// Smaller headings on mobile
@font-size-h1-sm: @font-size-h2;
@font-size-h2-sm: @font-size-h3;
@font-size-h3-sm: @font-size-h4;
@font-size-h4-sm: @font-size-h5;


@text-shadow: 1px 1px 2px rgba(0, 0, 0, .9);

@input-color: @default-text-color;
@input-color-placeholder: @light-grey;

@form-group-margin-bottom: 30px;

@border-radius-base: 2px;
@border-radius-large: 2px;
@border-radius-small: 2px;

@standard-padding: 25px;
@header-height: 50px;
@footer-height: 50px;

// Buttons

@btn-text-color: #fff;
@btn-border-radius: 2px;
@btn-font-size: @font-size-sm;
@btn-font-size-sm: ceil((@btn-font-size * .7));
@btn-font-size-lg: 18px;
@btn-padding: @font-size-sm;
@btn-padding-sm: ceil((@btn-padding * .7));
@btn-padding-lg: ceil((@btn-padding * 1.4));

// Panels
@heading-bg-color: @input-bg;
@panel-heading-padding: (@standard-padding / 2) @standard-padding;
@panel-body-padding: @standard-padding;

@breadcrumb-separator: "\00bb";

@grid-float-breakpoint: @screen-md-min;

@standard-transition-speed: 0.3s;
@slower-transition-speed: 0.4s;
@standard-transition-easing: ease-out;

@dropdown-link-hover-bg: @grey-hover-bg;
