<div class="quill-toolbar">

    <a title="Bold" class="ql-bold fa fa-bold"></a>
    <a title="Italic" class="ql-italic fa fa-italic"></a>
    <a title="Strikethrough" class="ql-strike fa fa-strikethrough"></a>
    <a title="Underline" class="ql-underline fa fa-underline"></a>
    <hr/>
    <a title="List" class="ql-bullet fa fa-list-ul"></a>
    <a title="Numbered List" class="ql-list fa fa-list-ol"></a>
    <hr/>
    <a title="Create Link" class="ql-link fa fa-link"></a>
    <a title="Insert Image" class="ql-image fa fa-picture-o"></a>

</div>

<div class="quill-editor-container">
    <div class="quill-editor">
    </div>
</div>



