<ul class="latest-actions">
    <li ng-repeat="event in events" class="event media">

        <span class="media-left">
            <img ng-if="event.user.imageThumbUrl" ng-src="{{event.user.imageThumbUrl}}" class="user-image" />
        </span>

        <span class="media-body">
            <ng-include src="'views/partials/event-text.html'"></ng-include>
        </span>

        <span class="media-right">
            <a class="like-btn" ng-click="likeEvent($event, event)" href="#">
                <span><i class="fa fa-heart-o"></i> {{ event.likeCount }}</span>
            </a>
        </span>
    </li>
</ul>
