<div class="user-list">
    <div class="user" ng-repeat="user in data.users" ng-class="{'liked': !!user.pivot.liked, 'like-clicked': !!user.likeClicked}">

        <a href="/user/{{ user.username }}">
            <span class="pic" ng-style="{'background-image':user.imageThumbUrl?'url('+user.imageThumbUrl+')' : ''}">
                <span>
                    {{ user.username }}
                    <small>
                        <i class="fa fa-clock-o"></i> <span am-time-ago="user.pivot.createdAt"></span>
                    </small>
                </span>
            </span>
        </a>

        <a class="like-btn like-thumb" ng-click="like($event, user)" href="#">
            <span><strong ng-bind="user.pivot.likeCount  | suppressZero"></strong> <i class="fa fa-thumbs-up"></i></span>
        </a>
    </div>
</div>
