footer {
    background: @navbar-color;
    color: #fff;
    padding: 15px 0;
    height: 50px;
    font-size: @font-size-sm;
    position: relative;
    z-index: 10;

    a {
        color: #fff !important;
    }
}
