.navbar {
    margin-bottom: 0;
    background: @navbar-color;
    min-height: 0;
    border: 0;
    border-radius: 0;
    font-size: @font-size-sm;

    -o-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -webkit-transition: background-color 0.2s ease-out; /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: background-color 0.2s ease-out; /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */

    position: fixed;
    top:0;
    left:0;
    right:0;

    z-index: 10;

    // This thing is so the notifications menu appears to be behind the header
    &:before {
        content:"";
        display: block;
        background: @navbar-color;
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        z-index:9;
    }

    h1 {
        display: none;
        color: #fff;
        font-weight: normal;
        font-size: 31px;
        margin: 8px 50px 0;
        padding: 0;
        .fonty();
    }

    .nav > li > a {
        color: #fff;

        &:hover,
        &:focus,
        &:active {
            background: #3e4148;
            opacity: 1;
        }
    }

    .nav .dropdown-menu > li > a:link {
        color: #333;
        text-shadow: none;
    }

    a {
        font-size: @font-size-sm;
        position: relative;
    }
}

header nav,
.navbar-nav,
.navbar-header {
    // So the notification list slides behind the nav
    position: relative;
    z-index:10;
}

.navbar-brand {

    padding:8px 15px 10px;

    > img {
        display: inline;
        width: 105px;
        height: 32px;
    }
}

.navbar-right {
    margin:0;
}


a.navbar-back {
    display: none; // visible < lg
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 10px 13px;
    color: #fff;
    font-size: 21px;
    z-index: 2;
}

/**
 * Menu Button
 */
.navbar-toggle {
    display: none; // visible < lg
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    padding: 0;
    margin: 0;
    border: 0;
    z-index: 2;
}

.navbar-toggle-icon {
    position: absolute;
    top: 15px;
    right: 15px;

    width: 20px;
    height: 20px;

    transition: all 0.3s ease-out;
}

.navbar-toggle-icon span,
.navbar-toggle-icon span:before,
.navbar-toggle-icon span:after {
    border-radius: 1px;
    height: 4px;
    width: 20px;
    background: #fff;
    position: absolute;
    top: 8px;
    display: block;
    content: '';
    transition: transform 0.4s ease-out, background 0.2s ease-out, width 0.3s ease-out;
}

.navbar-toggle-icon span:before {
    top: -8px;
}

.navbar-toggle-icon span:after {
    top: 8px;
}

// Change hamburger to back arrow when menu is open
.navbar-visible {
    .navbar-toggle-icon {
        right: 5px;
    }

    .navbar-toggle-icon span,
    .navbar-toggle-icon span:before,
    .navbar-toggle-icon span:after {
        width: 15px;
    }

    .navbar-toggle-icon span {
        background-color: transparent;
    }

    .navbar-toggle-icon span:before {
        transform: rotate(-45deg) translateX(-6px);
    }

    .navbar-toggle-icon span:after {
        transform: rotate(45deg) translateX(-6px);
    }
}

/**
 * Login form in header (visible-lg)
 */
.navbar-form {
    font-size: @font-size-sm;
    padding: 0;
    margin: 8px 0 0 0;

    input {
        font-size: @font-size-sm;
        line-height: 18px;
        height: 32px;
    }

    .btn {
        padding: 6px 12px;
        margin: 0 0 0 1px;

        i {
            margin: 0;
        }
    }
}

/**
 * Hide the login form in the header when on the login page
 */
.state-login #header-username,
.state-login #header-password,
.state-login #header-login-btn {
    display: none;
}

/**
 * User notifications
 */

// Red circle on top of envelope
.navbar-nav .notification {
    position: absolute;
    background-color: @red;
    text-align: center;
    border-radius: 10px;
    min-width: 18px;
    padding: 0 5px;
    height: 18px;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 18px;
    top: 7px;
    left: 7px;
}


.header-notifications,
.header-notifications .notification-list {
    .transition-all(.2s);
}

.header-notifications {
    &.ng-enter .notification-list {
        transform: translate3d(0, -100%, 0);
    }

    &.ng-enter-active .notification-list,
    &.ng-leave .notification-list {
        transform: translate3d(0, 0, 0);
    }

    &.ng-leave-active .notification-list {
        transform: translate3d(0, -100%, 0);
    }
}

.notification-list {
    padding: 0;
    margin: 0;
    max-width: 100%;
    max-height: ~"calc(100vh - 115px)";
    overflow: auto;
    display: block;
    border-top: 0;
    z-index:8;

    > li:nth-child(even) {
        a {
            background: @light-grey-bg;
        }
    }

    > li > a {
        padding: 10px;
        white-space: normal;
        &:hover {
            background: @grey-hover-bg;
        }
    }

    // Markdown wraps in a <p>
    p {
        display: inline;
    }

    .media-left span {
        width: 50px;
        height: 50px;
        display: block;

        img {
            width: 50px;
            height: 50px;
        }
    }

    .media-right {
        color: @light-grey;
    }

    .media-right {
        i {
            display: none;
            font-size: 18px;
        }

        &:hover i:before {
            content:"\f057";
        }
    }

    li:hover .media-right {
        .time {
            display: none;
        }
        i {
            display: inline-block;
        }
    }

    .no-notifications {
        color: #777;
        text-align: center;
        font-size: 12px;
        padding: 10px;
    }
}

.notifications-preview li:not(.new-notification) {
    display: none;
}

@media (min-width: @grid-float-breakpoint) {
    .notification-list {
        left: auto;
        right: 14px;
        width:500px;
    }
}


/**
 * Show h1 (page title) in header instead of body on mobile
 */
@media (max-width: @screen-xs-max) {

    .navbar-header.has-title {
        h1 {
            display: block;
        }
        .navbar-brand {
            display: none;
        }
    }

    #main h1.page-title {
        display: none;
    }
}


/**
 * When nav is collapsed (< lg)
 */
@media (max-width: @grid-float-breakpoint-max) {

    .navbar-header {
        height: 50px;
        text-align: center;
    }

    .navbar-brand {
        float: none;
        display: inline-block;
    }

    .navbar-logo {
        float: none;
        top: 8px;
    }

    a.navbar-back {
        display: block;

    }

    .state-home a.navbar-back {
        display: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
    }

    .navbar-collapse.collapse.in {

        .nav .dropdown-menu > li > a:link,
        .nav li > a {
            color: #fff;
        }

        .nav li > a:hover,
        .nav li > a:active,
        .nav li > a:focus {
            color: #fff;
            background: #3e4148;
            opacity: 1;
        }

        .nav li.divider {
            display: none;
        }
    }


    .notification-nav {
        position: absolute;
        top: 5px;
        right: 50px;
        width:40px;

        .fa {
            font-size:20px;
        }

        > li > a {
            padding-right:5px;
        }

        .open .dropdown-menu {
            background: #fff;
        }

        &:not(.has-notification) {
            display:none;
        }

    }
}
