<div class="content">
<div class="container">
    <h1><img class="user-image" ng-src="{{user.image.thumbUrl}}" ng-if="user.image" />{{ user.username }}</h1>

    <h2 ng-if="user.profile.about">About {{ user.username }}</h2>
    <p ng-if="user.profile.about">{{ user.profile.about }}</p>

    <h2>Stickers</h2>
    <a ng-repeat="sticker in stickers.stickers" href="/sticker/{{sticker.slug}}">
        <span class="sticker" img="{{ sticker.design.imageUrl }}"></span>
    </a>

    <h2>Posts</h2>
    <ng-include src="'views/partials/post-list.html'" ng-controller="PostsController"></ng-include>
</div>
</div>
